<div class="app-container">
  <form
    nz-form
    [nzLayout]="vertical"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="2">科普分类</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="input placeholder" />
        <nz-form-explain>Please input your username!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>科普标题</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="input placeholder" />
        <nz-form-explain>Please input your Password!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>来源</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="input placeholder" />
        <nz-form-explain>Please input your username!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>所属机构</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="input placeholder" />
        <nz-form-explain>Please input your username!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
