<!-- NG-ZORRO
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>
-->

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/info">资讯管理</a>
    <a routerLink="/popularscience">资讯管理</a>
    <a routerLink="/dashboard">dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <!--<app-heroes></app-heroes>-->
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
